<div data-controller="infinite-scroll">
  <div class="row">
    <div class="col-md-7">
      <h1>Книги</h1>
      <div data-infinite-scroll-target="entries">
        <%= render "book" %>
      </div>
    </div>

    <div class="col-md-3">
      <%= render 'categories/index' %>
    </div>

    <div class="col-md-2">
      <%= render 'sort' %>
    </div>

    <div data-infinite-scroll-target="pagination">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
</div>




